# AES-256 Encryption Key for Telegram Bot Token (Must be 32 characters or hashed to 32 bytes)
ENCRYPTION_KEY="teleflow-ultra-secure-secret-encryption-key-32b"

# Nuxt Listening Port
PORT=3000

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=""
TELEGRAM_GROUP_CHAT_ID=""
